
*.xcuserstate

WorkoutSolution.xcodeproj/project.xcworkspace/xcuserdata/ianyuen.xcuserdatad/UserInterfaceState.xcuserstate

Pods/Target Support Files/Pods-WorkoutSolution/Pods-WorkoutSolution.debug.xcconfig

Pods/Target Support Files/Pods-WorkoutSolution/Pods-WorkoutSolution.release.xcconfig
