<view>
	<object>
		<type>background</type>
		<posY>83</posY>
		<width>1242</width>
		<height>2020</height>
		<color>0x373639</color>
	</object>

	<object>
		<type>background</type>
		<posY>83</posY>
		<width>1242</width>
		<height>400</height>
		<color>0xffffff</color>
	</object>

    <object>
        <type>labelAuto</type>
        <alignX>center</alignX>
        <alignY>176</alignY>
        <text>CALISTHENICS</text>
        <font>AlienEncountersSolid</font>
        <size>28</size>
        <color>0x373639</color>
    </object>

    <object>
        <type>labelAuto</type>
        <alignX>center</alignX>
        <alignY>313</alignY>
        <text>VERSION 1.00</text>
        <font>Arial</font>
        <size>17</size>
        <color>0xF94343</color>
    </object>

    <object>
        <type>background</type>
        <posY>223 + 330 - 140 + 70</posY>
        <width>screenWidth</width>
        <height>screenHeight</height>
        <color>0xF94343</color>
    </object>
</view>
